footer.footer
    div.footer__logo
        img(src="/img/logo-green.png", alt="Natours Logo" )
    ul.footer__nav 
        li
            a(href="#") About Us 
        li
            a(href="#") Download Apps
        li
            a(href="#") Became A Guide
        li
            a(href="#") Carrers
        li
            a(href="#") Contact
    p.footer__copyright  &copy; by Aritra Ghorai. All rights reserved.
