extends base

block content
    section.section-header 
        div.heading-box
            h1.heading-primary
                span= tour.name            
            div.heading-box__group
                div.heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href="/img/icons.svg#icon-clock")
                    span.heading-box__text 10
                div.heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href="/img/icons.svg#icon-map-pin")
                    span.heading-box__text usa
    section.section-description
        div.overview-box
            div.overview-box__group
                h2.heading-secondary.ma-bt-lg Quick Facts
                div.overview-box__detail
                    svg.overview-box__icon
                        use(xlink:href="/img/icons.svg#icon-calendar")
                    div.overview-box__label Next Date
                    div.overview-box__text  August 2021
                div.overview-box__detail
                    svg.overview-box__icon
                        use(xlink:href="/img/icons.svg#icon-user")
                    div.overview-box__label Participants
                    div.overview-box__text  10 people
                div.overview-box__detail
                    svg.overview-box__icon
                        use(xlink:href="img/icons.svg#icon-star")
                    div.overview-box__label Rating
                    div.overview-box__text  4.9 / 5
            div.overview-box__group
                h2.heading-secondary.ma-bt-lg Quick Facts
                div.overview-box__detail
                    svg.overview-box__icon
                        use(xlink:href="/img/icons.svg#icon-calendar")
                    div.overview-box__label Next Date
                    div.overview-box__text  August 2021
                div.overview-box__detail
                    svg.overview-box__icon
                        use(xlink:href="/img/icons.svg#icon-user")
                    div.overview-box__label Participants
                    div.overview-box__text  10 people
                div.overview-box__detail
                    svg.overview-box__icon
                        use(xlink:href="img/icons.svg#icon-star")
                    div.overview-box__label Rating
                    div.overview-box__text  4.9 / 5            


